@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "convergence", sans-serif;
  user-select: none;
}

::-webkit-scrollbar { width: 0; }

input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}


.treatment_card_div:hover .treatment_name {
  background-color: rgb(59, 98, 134);
  color: white;
}

.doctors_card:hover .doctors_sub_card {
  background-color: #587cdd;
} 

.bestHospital:hover .bestHospital-text {
  background-color: rgba(228, 243, 254, 0.913);
}

.ourServices:hover .services-text {
  background-color: rgba(228, 243, 254, 0.913);
}